body {
    background-color: #9DD9D2;
  }

.center {
    text-align: center;
}

.shelter-signup-step {
    display: none;
}

.adopter-signup-step {
    display: none;
}

/* Make circles that indicate the progress of the signup process: */
.step1 {
    height: 40px;
    width: 40px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }

  .step2 {
    height: 40px;
    width: 40px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }

  .kelly-button {
    background: #F25757;
    color:white;
    font: Trebuchet MS;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    padding: 14PX 40PX;
    width: 180px;
    opacity: 0.9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  }

  .kelly-button:hover {
    background: white;
    color:lightcoral;
  }

